
.vs/

*.ldf
*.mdf
/DB/Database_SH/obj/Debug
DB/Database_SH/Database_SH.jfm
DB/Database_SH/Database_SH.dbmdl
DB/Database_SH/Database_SH.dbmdl
Smart_home/obj/
Smart_home/obj/Release/netcoreapp3.1/Smart_home.assets.cache
Smart_home/obj/Release/netcoreapp3.1/Smart_home.assets.cache
Smart_home/obj/Release/netcoreapp3.1/Smart_home.AssemblyInfo.cs
Smart_home/obj/Debug/netcoreapp3.1/Smart_home.pdb
Smart_home/obj/Debug/netcoreapp3.1/Smart_home.dll
Smart_home/obj/Debug/netcoreapp3.1/Smart_home.csprojAssemblyReference.cache
Smart_home/obj/Release/netcoreapp3.1/Smart_home.csprojAssemblyReference.cache
