
.vs/Smart_home/v16/Server/sqlite3/storage.ide-wal
.vs/Smart_home/v16/Server/sqlite3/storage.ide-shm
.vs/Smart_home/v16/Server/sqlite3/storage.ide
.vs/Smart_home/v16/Server/sqlite3/db.lock
.vs/Smart_home/v16/.suo
.vs/Smart_home/config/applicationhost.config
.vs/Smart_home/DesignTimeBuild/.dtbcache
.vs/Smart_home/DesignTimeBuild/.dtbcache
*.ldf
*.mdf
/DB/Database_SH/obj/Debug
DB/Database_SH/Database_SH.jfm
DB/Database_SH/Database_SH.dbmdl
.vs/Smart_home/DesignTimeBuild/.dtbcache
DB/Database_SH/Database_SH.dbmdl
DB/Database_SH/Database_SH.jfm
DB/Database_SH/Database_SH.jfm
DB/Database_SH/obj/Debug/Database_SH.sqlprojAssemblyReference.cache
