
.vs/*
*.ldf
*.mdf
/DB/Database_SH/obj/Debug
DB/Database_SH/Database_SH.jfm
DB/Database_SH/Database_SH.dbmdl
DB/Database_SH/Database_SH.dbmdl
DB/Database_SH/Database_SH.jfm
DB/Database_SH/Database_SH.jfm
DB/Database_SH/obj/Debug/Database_SH.sqlprojAssemblyReference.cache
Smart_home/obj/Debug/*
*.cache
*.cache
