@model Smart_home.Models.Co2

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Co2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cas" class="control-label"></label>
                <input asp-for="Cas" class="form-control" />
                <span asp-validation-for="Cas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eco2" class="control-label"></label>
                <input asp-for="Eco2" class="form-control" />
                <span asp-validation-for="Eco2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etvoc" class="control-label"></label>
                <input asp-for="Etvoc" class="form-control" />
                <span asp-validation-for="Etvoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raw6" class="control-label"></label>
                <input asp-for="Raw6" class="form-control" />
                <span asp-validation-for="Raw6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raw10" class="control-label"></label>
                <input asp-for="Raw10" class="form-control" />
                <span asp-validation-for="Raw10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odpor" class="control-label"></label>
                <input asp-for="Odpor" class="form-control" />
                <span asp-validation-for="Odpor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

