@{
    ViewData["Title"] = "Control";
}
    <html>
        <head>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        </head>
        <body>
            <h1>Control</h1>
            test
            <hr />

            <label class="switch">
                <input type="checkbox" id="myCheck" onclick="myFunction()">
                <span class="slider round"></span>
            </label>
            <p id="text" style="display:none">Checkbox is CHECKED!</p>
            <hr />
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="sliderek" id="myRange">
                <p>Value: <span id="demo"></span></p>
            </div>


            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </body>
    </html>
    

