@model Smart_home.Models.ReleModel

@{
    ViewData["Title"] = "Control";
}

<h1>Control</h1>

<hr />

    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var text = document.getElementById("text");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
