@{
    ViewData["Title"] = "Control";
}
    <html>
        <head>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        </head>
        <body>
            <h1>Světla</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>název</th>
                        <th>Stav</th>
                        <th>On/Off</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ložnice</td>
                        <td>
                            <label class="switch">
                                @*misto my function pri kliknuti vypsat selecte aktualni stav roznuto zhasnuto také ppodle toho nastavit tlacitko*@
                                <input type="checkbox" id="myCheck" onclick="myFunction()">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td>
                            <p id="text" style="display:none">On</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Stropní světlo</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" id="myCheck" onclick="myFunction()">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td>
                            <p id="text" style="display:none">On</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="sliderek" id="myRange">
                <p>Value: <span id="demo"></span></p>
            </div>


            <div>
                <a asp-action="Index">Zpět</a>
            </div>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </body>
    </html>
    

