@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        uvod 12345
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
