@model Smart_home.Models.TestModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Vítej v aplikaci Smart home</h1>

<body>
    <form>
        <div>
            <a asp-controller="Teploties" asp-action="Index">Database teploty</a>
        </div>
    </form>
</body>