@model Smart_home.Models.TestModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <form asp-controller="Home" asp-action="Check">
        <input asp-for="X" type="number" value="5">
        <button type="submit">Potvrd</button>
    </form>

</body>
<div>
    <a asp-action=teplotiesIndex>Db index</a>
</div>