
@{
    ViewData["Title"] = "Pocasi";
}

<h1>Pocasi</h1>

<form asp-action="Termostat">
    <div>
        <p>Teplota: 15°C</p>
        <p>Teplota: 28%</p>
        <p>Rychlost větru: 17 km/h jihovýchod</p>
        <p>Déšt: ne</p>
    </div>
</form>