
@{
    ViewData["Title"] = "Pocasi";
}

<h1>Počasí</h1>


    <div>
        <p>Teplota: 15°C</p>
        <p>Vlhkost: 28%</p>
        <p>Rychlost větru: 17 km/h jihovýchod</p>
        <p>Déšt: ne</p>
    </div>
