
@{
    ViewData["Title"] = "teplota";
}

<h1>teplota</h1>

Zobrazeni poslední venkovní teploty

teplloty jednotlivých místností
+ tabulky pro nastaveni  aktuálních hodnot například 15 min topeni v kuchyni 100%
+ časový plán
+ nastavení časového teplotního plánu