
@{
    ViewData["Title"] = "zabezpeceni";
}

<h1>zabezpeceni</h1>

@*zde bych si představoval zobrazeni všech kamer taky ovtevřené čidle repsektive dveře okna a podobně
dále by tu měla být historie dle možností.*@