
@{
    ViewData["Title"] = "Zahradnicek";
}

<h1>Zahradnicek</h1>

@*Zde bych chtěl 
mít nastavnení zalívání info o tom jak to je.
resp. 
čerpadlo1 v provozu za tím tabulka, vypnout
čerpadlo2 ready, zapnout nepo pustit tabulka v sec
čerpadlo3 off

nastaveni zalivani
čepadlo1 od tabulka do tabulka
atd

dale historie sepnuti
kde uvidím den čerpadlo a od do.
    *@