
@{
    ViewData["Title"] = "Zvonek";
}
<h1>Zvonek</h1>
<div>
    <input type="submit" value="Spustit mikrofon" />
</div>
@*<input type="file" accept="audio/*" capture>*@

<video>
    <source src="http://10.0.0.20:8080/stream/video.mjpeg">
    Your browser doesn't support HTML5 video tag.
</video>
@*zde by mohlo být zobrazeno wiev ze zvonku + zvuk

     dále rovnou v tom může být solar + meteostanice baterky topení
    dále pak otvírání brány.

    tohle také může být až na garáži s vratama*@
